.label {
    font-size: 12px;
    background-color: #3B82F6; 
    color: #FFFFFF; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
    border-radius: 9999px; 
    margin-bottom: 0.5rem; 
    margin-right: 0.5rem; 
    margin-top: 0.5rem;
    height: 2rem;
}